.navigation {
  &_check {
    display: none;
  }
  &_button {
    background-color:$color-white;
    height:7rem;
    width: 7rem;
    position:fixed;
    top:6rem;
    right:6rem;
    border-radius:50%;
    z-index:2000;
    box-shadow: 0 1rem 2rem rgba($color-dark,.2);
    text-align: center;
    cursor: pointer;
  }
  &_background {
    background-image: radial-gradient($color-primary-light,$color-primary-dark);
    width:6.4rem;
    height:6.4rem;
    position: fixed;
    border-radius:50%;
    top: 6.5rem;
    right:6.5rem;
    z-index:1000;
    //transform: scale(80);
    transition: transform .8s cubic-bezier(0.06,0,0.07,1);



  }
  &_nav {
    height: 100vh;
    //width: 60%;
    position:fixed;
    border-radius: 50%;
    z-index: 1500;
    top:0;
    right:0;
    opacity: 0;
    transition: all .4s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  &_list {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    width: 100%;

  }
  &_item {
    margin:1rem;
  }

  &_link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-transform: uppercase;
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 240%;
      transition: all .4s;
    }
    &:hover,
    &:active{
      background-position: 100%;
      color:$color-primary-dark;
      transform: translateX(1rem);
    }
  }
  &_check:checked ~ &_background {
    transform: scale(80);
  }

  &_check:checked ~ &_nav {
    width: 100%;
    opacity: 1;
  }

  &_icon {
    margin-top: 3.5rem;
    position: relative;
    &,
    &::before,
    &::after {
      width:3rem;
      height: 3px;
      background-color: $color-grey-dark3;
      display: inline-block;
      transition: all .4s;
    }

    &::before,
    &::after {
      content: "";
      position:absolute;
      left:0;
    }
    &::before {
      top:-.8rem;
    }
    &::after {
      top: .8rem;

    }



  }
  &_button:hover &_icon::before {
    top:-1rem;
  }
  &_button:hover &_icon::after {
    top:1rem;
  }

  &_check:checked + &_button &_icon {
    background-color: transparent;
  }
  &_check:checked + &_button &_icon::after {
    top: 0;
    transform: rotate(135deg);

  }
  &_check:checked + &_button &_icon::before {
    top: 0;
    transform: rotate(-135deg);

  }
}