/*
   Light green:#7ed56f;
   Medim:#55c57a;
   Dark green:#28b485

 */

*{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
@font-face {
    font-family: "Lato", sans-serif;
    src:url("./Lato/3-Lato/Lato-Black.ttf");
}
html{
    font-size: 10px;
}
body{
    font-family:"Lato",sans-serif;
    font-weight:400;
    font-size:16px;
    line-hegiht:1.7;
    color:#6e6e6e;
    padding:30px;
    box-sizing:border-box
}
.header{
    height:95vh;
    background-image:linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.82)),
    url("./img/1.jpg");
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0,100% 0,100% 80vh,0 100%);

}
.logo{
    height:40px;
    width: 50px;
}
.logo-box{
    position: absolute;
    top:55px;
    left:60px;
}
.header-text{
    position: absolute;
    top:38%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header-primary{
    color: #ffffff;
    text-transform: uppercase;/*转换成大写*/
    backface-visibility: hidden;

}
.heading-primary-main{
    display: block;
    color:#ffffff;
    font-size:60px;
    font-weight:400;
    letter-spacing:35px;
    animation-name:moveInLeft;
    animation-duration:2s;
   /*  animation-delay: 1s;  延迟使用*/
    /* 动画计时功能*/
    animation-timing-function: ease-out;
}
.heading-primary-sub{
    color:#ffffff;
    display: block;
    font-size:20px;
    font-weight:700;
    letter-spacing:17px;
    animation-name:moveInRight;
    animation-duration:2s;
    animation-timing-function:ease-out;

 }

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform:translate(-100px);
    }
    80%{
        transform: translate(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform:translate(100px);
    }
    80%{
        transform: translate(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform:translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding:15px 40px;
    display:inline-block;
    border-radius: 100px;
    position:relative;

}
.btn:hover{
    transform: translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}
.btn-white{
    margin-top:60px;
    background-color:#ffffff;
    color: #777777;
}
.btn::after{
    content:"";
    display: inline-block;
    height:100%;
    width:100%;
    border-radius:100px;
    top:0;
    left: 0;
    z-index:-1;
    transition:all .4s;
    position: absolute;
}
.btn-white::after{
    background-color: #ffffff;

}
.btn:hover::after{
    transform:scaleX(1.5) scaleY(1.5);
    opacity:0;

 }
.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;

}
